body {
    background-image: url("images/tacobackground.jpg");
}

.headerclass {
    background-image: url("images/taco.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 210px;
    margin-top: 20px;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 50px;
    width: 100%;
    border: 2px solid orange;
    background-color: white;
}

.intro {
    font-size: 20px;
    width: 100%;
}

.headerclass > h1 {
    color: orange;
    padding-left: 10px;
}

.navbar {
    display: grid;
    width: 100%;
    height: 50px;
    grid-template-rows: 50px;
    grid-template-columns: repeat(5, 1fr);
    background: orange;
    
}

.navitem {
    text-align: center;
    padding-top: 15px;
    border: 1px solid black;
    
}

.imgcontainer {
    display: grid;
    width: 100%;
    grid-template-rows: 250px;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
    background-color: orange;
}

.imgheader {
    margin-top: 120px;
    font-size: 30px;
    width: 40%;
    text-align: center;
    float: right;
    background-color: white;
}

.tacocontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 70px;
    border: 2px solid orange;
    background-color: white;
}

.taco {
    margin-left: 150px;
}

.prices {
    padding-top: 60px;
    padding-left: 20px;
}

li {
    font-size: 25px;
}